body{
height:100vh;
width:100%;
background-color:blue;    
    
}

.body-2{
display: flex;
width: 80%;
    
}

header{
height: 25%;
width: 100%;
background-color: pink;
    
}

main{
height:50%; 
width:100%;
background-color: orange;    
}

section{
height:50%;
width:30%;
background-color: blue;        
    
}

article{
height:50%; 
width:70%;
background-color: green;
       
    
}

footer{
height:25%; 
width:100%;  
background-color: purple;
    
}